body,
html {
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
  font-family: "Roboto", sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html {
  font-size: 62.5%; /*rem config*/
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-size: 16px; /*rem config 1rem=10px*/
}
img {
  max-width: 100%;
}
main {
  padding: 1rem;
}
footer {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  line-height: 3rem;
  background: #c31432; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #240b36,
    #c31432
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #240b36,
    #c31432
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  color: aliceblue;
  padding: 2rem;
  text-align: center;
}
footer .socialMedia i {
  margin: 0 1rem;
  font-size: 2rem;
}
footer .socialMedia i:hover {
  color: orange;
}
h1 {
  font-size: 5rem;
  font-weight: 400;

  color: #c31432; /* fallback for old browsers */
  color: -webkit-linear-gradient(
    to right,
    #240b36,
    #c31432
  ); /* Chrome 10-25, Safari 5.1-6 */
  color: linear-gradient(
    to right,
    #240b36,
    #c31432
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
h2 {
  text-transform: capitalize;
  text-align: center;
  font-weight: bolder;
}
h3 {
  text-transform: capitalize;
  text-align: center;
  font-weight: 700;
}
p {
  color: gray;
  font-size: 2rem;
  letter-spacing: 0.1rem;
  line-height: 3rem;
}
.seccion-title {
  text-align: center;
  color: #c31432; /* fallback for old browsers */
  color: -webkit-linear-gradient(
    to right,
    #240b36,
    #c31432
  ); /* Chrome 10-25, Safari 5.1-6 */
  color: linear-gradient(
    to right,
    #240b36,
    #c31432
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
table {
  background-color: black;
}
tr {
  background-color: gray;
  text-align: center;
}
th {
  color: white;
}
/* MENU */
.menu {
  background: #c31432; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #240b36,
    #c31432
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #240b36,
    #c31432
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.menu-list {
  list-style: none;
}
.menu-list ul {
  position: absolute;
  display: none;
}
.menu-list ul li {
  display: block;
}
.menu-list li:hover ul {
  display: block;
  background: #c31432; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #240b36,
    #c31432
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #240b36,
    #c31432
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  list-style: none;
}
.menu-list li ul {
  padding: 0;
}
.menu-list li ul li a {
  color: aliceblue;
  margin: 2rem;
  text-decoration: none;
}
.menu-list > li {
  margin: 10px;
  display: inline-block;
}
.menu-list > li > p,
.menu-list > li > a {
  text-decoration: none;
  color: aliceblue;
}
.menu-list > li > a:hover {
  transition: 1s;
  font-size: 3rem;
  cursor: pointer;
}
/* BANNER */
.banner {
  margin-top: 2rem;
  background-image: url(../assets/BANNER.jpg);
  height: 40rem;
  background-position: center center;
  background-size: cover;
  display: flex;
  align-items: center;
}
.contenido-banner {
  flex: 1;
  color: white;
  padding: 2rem;
}
.contenido-banner p {
  font-size: 1.8rem;
}
/*Clases*/
.textRigth {
  text-align: end;
}
.textCenter {
  text-align: center;
}
.textLeft {
  text-align: left;
}
/************************************** PAGINAS INTERNAS*/
/******************* INDEX HTML*/
/* INICIO */
.index .inicio {
  border: solid 2px black;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.index .inicio .text,
.index .inicio .video {
  width: 100%;
  display: inline-block;
  text-align: justify;
}
/* ENCUESTA */
.index .indexEncuestas {
  padding: 3rem;
}
.indexNoticiasWrapper,
.indexEncuestasWrapper {
  padding: 3rem;
  display: flex;
  flex-direction: column;
}
.indexNoticiasWrapper article {
  margin: 2rem;
  padding: 2rem;
  border: solid 1px black;
  border-radius: 1rem;
}
.indexNoticiasWrapper article:hover {
  transition: 1s;

  background-color: #bdc3c7; /* fallback for old browsers */
  background-color: -webkit-linear-gradient(
    to right,
    #2c3e50,
    #bdc3c7
  ); /* Chrome 10-25, Safari 5.1-6 */
  background-color: linear-gradient(
    to right,
    #2c3e50,
    #bdc3c7
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: black;
  transform: scale(1.2);
}
.indexNoticiasWrapper article img {
  width: 100%;
}
.indexNoticiasWrapper article img:hover {
  transition: 2s;
}
/******************* ENCUESTAS HTML*/
.encuestas {
  background-position: top center;
  background-size: cover;
  height: 100vh;
  padding: 2rem;
}
.encuesta-title {
  font-size: 3rem;
  text-align: center;
}
.btn-group-lg {
  display: flex;
}
.encuestas-resultados {
  display: flex;
  justify-content: space-between;
  text-transform: capitalize;
}
/******************* PROYECTOS HTML*/
.proyectos {
  padding: 2rem;
  display: flex;
  flex-direction: column;
}
.proyectos article {
  padding: 2rem;
  border: solid 1px black;
  border-radius: 1rem;
  margin-right: 1rem;
  margin-top: 1rem;
  min-height: 70rem;
  width: 100%;
}
.proyectos article {
  height: 250px;
  width: 30rem;
  object-fit: cover;
}
.proyectos article:last-of-type {
  margin-right: 0;
}
.proyectos article:hover {
  transition: 1s;

  background-color: #bdc3c7; /* fallback for old browsers */
  background-color: -webkit-linear-gradient(
    to right,
    #2c3e50,
    #bdc3c7
  ); /* Chrome 10-25, Safari 5.1-6 */
  background-color: linear-gradient(
    to right,
    #2c3e50,
    #bdc3c7
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: black;
}
/******************* CONTACTO HTML*/
.contactoPage {
  min-height: 55vh;
}
.contactoPage .seccion-title {
  font-size: 3rem;
}
.contactoPage form fieldset {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 5rem;
}
.contactoPage form {
  font-size: 2rem;
}
.form-control {
  font-size: 1.5rem;
  text-align: center;
}
.contactoPage form button {
  font-size: 2rem;
  border-radius: 2.2rem;
  padding: 1rem 2rem;
}

/******************* Informacion */
.contenido-informacion {
  display: grid;
  grid-template-columns: 50% 50%;
  /* SE DEFINEN LA CANTIDAD DE COLUMNAS QUE VA A HABER DEPENDIENDO DE CUANTOS HIJOS HAY*/
  grid-column-gap: 2rem;
  /* AGREGA LA SEPARACION DE 2rem ENTRE LAS COLUMNAS */
}

.texto-informacion blockquote {
  font-weight: 900;
  font-size: 2rem;
  margin: 0;
  padding: 1rem 0 3rem 0;
}

@media only screen and (min-width: 480px) {
  .index .inicio {
    flex-direction: row;
  }
  .indexNoticiasWrapper,
  .indexEncuestasWrapper {
    flex-direction: row-reverse;
  }

  .proyectos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  footer {
    flex-direction: row;
  }
}

@media only screen and (min-width: 768px) {
  .menu-list > li > p,
  .menu-list > li > a {
    font-size: 2rem;
  }
  .index .inicio {
    flex-direction: row;
  }
  .indexNoticiasWrapper,
  .indexEncuestasWrapper {
    flex-direction: row-reverse;
  }

  .proyectos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  footer {
    padding: 3rem;
    text-align: center;
    align-content: center;
    font-size: 2rem;
  }
  footer .socialMedia i {
    font-size: 3rem;
  }
}
