body,
html {
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
  font-family: "Roboto", sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html {
  font-size: 62.5%; /*rem config*/
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-size: 16px; /*rem config 1rem=10px*/
}
img {
  max-width: 100%;
}
main {
  padding: 1rem;
}
footer {
  background-color: black;
  color: aliceblue;
  padding: 1rem;
  text-align: center;
}
h1 {
  color: blue;
  font-size: 5rem;
  font-weight: 400;
}
h2 {
  text-transform: capitalize;
  text-align: center;
  font-weight: 300;
}
h3 {
  text-transform: capitalize;
  text-align: center;
  font-weight: 700;
}
p {
  color: gray;
  font-size: 2rem;
  letter-spacing: 0.1rem;
  line-height: 3rem;
}
.seccion-title {
  text-align: center;
  color: red;
}
table {
  background-color: black;
}
tr {
  background-color: gray;
  text-align: center;
}
th {
  color: white;
}
/* MENU */
.menu {
  background-color: black;
}
.menu-list {
  list-style: none;
}
.menu-list ul {
  position: absolute;
  display: none;
}
.menu-list ul li {
  display: block;
}
.menu-list li:hover ul {
  display: block;
  background-color: black;
  list-style: none;
}
.menu-list li ul li a {
  color: aliceblue;
  padding: 1rem;
  text-decoration: none;
}
.menu-list > li {
  margin: 10px;
  display: inline-block;
}
.menu-list > li > p,
.menu-list > li > a {
  text-decoration: none;
  color: aliceblue;
}
.menu-list > li > a:hover {
  color: orange;
  cursor: pointer;
}
/* BANNER */
.banner {
  margin-top: 2rem;
  background-image: url(../assets/BANNER.jpg);
  height: 40rem;
  background-position: center center;
  background-size: cover;
  display: flex;
  align-items: center;
}
.contenido-banner {
  flex: 1;
  color: white;
  padding: 2rem;
}
.contenido-banner p {
  font-size: 1.8rem;
}
/*Clases*/
.textRigth {
  text-align: end;
}
.textCenter {
  text-align: center;
}
.textLeft {
  text-align: left;
}
/************************************** PAGINAS INTERNAS*/
/******************* INDEX HTML*/
/* INICIO */
.index .inicio {
  border: solid 2px black;
  padding: 3rem;
  display: flex;
}
.index .inicio .text,
.index .inicio .video {
  width: 50%;
  display: inline-block;
  text-align: justify;
}
/* ENCUESTA */
.index .indexEncuestas {
  padding: 3rem;
}
.indexProyectosWrapper,
.indexEncuestasWrapper {
  padding: 3rem;
  display: flex;
}
.indexProyectosWrapper article {
  margin: 2rem;
  padding: 2rem;
  border: solid 1px black;
  border-radius: 1rem;
}
/******************* ENCUESTAS HTML*/
.encuestas {
  background-image: url(/assets/interrogar.jpeg);
  background-position: top center;
  background-size: cover;
  height: 100vh;
  padding: 2rem;
}
/******************* PROYECTOS HTML*/
.proyectos {
  padding: 2rem;
  display: flex;
}
.proyectos article {
  padding: 2rem;
  border: solid 1px black;
  border-radius: 1rem;
  margin-right: 1rem;
}
.proyectos article:last-of-type {
  margin-right: 0;
}
