/******************* ENCUESTAS HTML*/
.encuestas {
  margin-top: 7rem;
  background-position: top center;
  background-size: cover;
  height: 100vh;
  padding: 2rem;

  .encuestas__title {
    font-size: 3rem;
    text-align: center;
  }

  .btn-group-lg {
    display: flex;
  }

  .encuestas__resultados {
    display: flex;
    justify-content: space-between;
    text-transform: capitalize;
  }
}
