/******************* Informacion */
.informacion {
  .informacion__body {
    display: grid;
    grid-template-columns: 50% 50%;
    /* SE DEFINEN LA CANTIDAD DE COLUMNAS QUE VA A HABER DEPENDIENDO DE CUANTOS HIJOS HAY*/
    grid-column-gap: 2rem;
    /* AGREGA LA SEPARACION DE 2rem ENTRE LAS COLUMNAS */
    blockquote {
      font-weight: 900;
      font-size: 2rem;
      margin: 0;
      padding: 1rem 0 3rem 0;
    }
  }
}
