h1 {
  font-size: 3rem;
  font-weight: 400;
  color: $primary;
}
h2 {
  text-transform: capitalize;
}
h3 {
  text-transform: capitalize;
}
p {
  color: $gray;
  font-size: 2rem;
  letter-spacing: 0.1rem;
  line-height: 3rem;
}
.seccion-title {
  text-align: center;
  color: $primary;
}

@for $i from 1 through 6 {
  .text-#{$i} {
    font-size: 2rem + $i;
  }
}
@for $i from 1 through 6 {
  .fw-#{$i} {
    font-size: 200 + ($i * 100);
  }
}
