h1 {
  font-size: 3rem;
  font-weight: 400;

  color: $primary;
}
h2 {
  text-transform: capitalize;
  text-align: center;
  font-weight: bolder;
}
h3 {
  text-transform: capitalize;
  text-align: center;
  font-weight: 700;
}
p {
  color: $gray;
  font-size: 2rem;
  letter-spacing: 0.1rem;
  line-height: 3rem;
}
.seccion-title {
  text-align: center;
  color: $primary;
}
