// Colores
$colores: (
  white: white,
  black: black,
  gray: gray,
  orange: orange,
  primary: linear-gradient(to right, #240b36, #c31432),
  secondary: linear-gradient(to right, #2c3e50, #bdc3c7),
);
$white: white;
$black: black;
$gray: gray;
$orange: orange;
$primary: linear-gradient(to right, #240b36, #c31432);
$secondary: linear-gradient(to right, #2c3e50, #bdc3c7);

@each $name-color, $bg-color in $colors {
  .bg-#{$name-color} {
    background-color: $bg-color;
  }
}

// Banner
$bannerImg: url(../assets/BANNER.jpg);

// Fonts
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap");
$font-family: "Roboto", sans-serif;
